
.icon-popup:before { content: '\e800'; } /* '' */
.icon-arrows-cw:before { content: '\e801'; } /* '' */
.icon-doc-add:before { content: '\e802'; } /* '' */
.icon-play:before { content: '\e803'; } /* '' */
.icon-stop:before { content: '\e804'; } /* '' */
.icon-trash-1:before { content: '\f1f8'; } /* '' */